*.xcworkspace/xcuserdata/*.xcuserdatad
utilities/bin
pico-sdk.diff
build/

bazel-*
.cortex-debug*

# Python virtual environments
env

# Mac specific
.DS_Store

# VS Code - machine-specific paths in launch.json
.vscode/launch.json